/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <54 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57>;
            hold-trigger-on-release;
            hold-while-undecided;
            flavor = "tap-preferred";
        };

        hml_shft: hml_shft {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_SHFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <21 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57>;
        };

        hmr_shft: hmr_shft {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_SHFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <53 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
            tapping-term-ms = <200>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            hold-while-undecided;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <53 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
        };

        layer_toggle: layer_toggle {
            compatible = "zmk,behavior-toggle-layer";
            label = "LAYER_TOGGLE";
            #binding-cells = <1>;
        };

        dblTap_period: dblTap_period {
            compatible = "zmk,behavior-tap-dance";
            label = "DBLTAP_PERIOD";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ARROW>, <&kp PERIOD>;
        };

        dblTap_pgup: dblTap_pgup {
            compatible = "zmk,behavior-tap-dance";
            label = "DBLTAP_PGUP";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&kp PG_UP>;
        };

        dblTap_pgdn: dblTap_pgdn {
            compatible = "zmk,behavior-tap-dance";
            label = "DBLTAP_PGDN";
            #binding-cells = <0>;
            bindings = <&kp END>, <&kp PAGE_DOWN>;
        };

        dblTap_: dblTap__ {
            compatible = "zmk,behavior-tap-dance";
            label = "DBLTAP_@";
            #binding-cells = <0>;
            bindings = <&kp F2>, <&kp AT_SIGN>;
        };

        LongPress_gen: LongPress_gen {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS_GEN";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };

        LongPress_Del: LongPress_Del {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS_DEL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };

        dblTap_toL2: dblTap_toL2 {
            compatible = "zmk,behavior-tap-dance";
            label = "DBLTAP_TOL2";
            #binding-cells = <0>;
            bindings = <&kp X>, <&to 3>;
        };

        dblTap_toL3: dblTap_toL3 {
            compatible = "zmk,behavior-tap-dance";
            label = "DBLTAP_TOL3";
            #binding-cells = <0>;
            bindings = <&kp C>, <&to 0>;
        };

        dblTap_toL0: dblTap_toL0 {
            compatible = "zmk,behavior-tap-dance";
            label = "DBLTAP_TOL0";
            #binding-cells = <0>;
            bindings = <&none>, <&to 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC   &dblTap_      &kp F3           &kp F4           &kp F5                  &kp F6                                   &kp F7  &kp F8         &kp F9            &kp F10         &none                &LongPress_gen DELETE LC(DELETE)
&kp TAB   &kp Q         &kp W            &kp E            &kp R                   &kp T                                    &kp Y   &kp U          &kp I             &kp O           &kp P                &LongPress_gen BACKSPACE LC(BACKSPACE)
&kp CAPS  &hml LCTRL A  &hml LEFT_WIN S  &hml LEFT_ALT D  &hml_shft LEFT_SHIFT F  &kp G                                    &kp H   &hmr_shft J J  &hmr RIGHT_ALT K  &kp L           &hmr RCTRL UP_ARROW  &kp RET
&none     &kp Z         &kp X            &kp C            &kp V                   &kp B   &dblTap_toL0    &none            &kp N   &kp M          &kp COMMA         &dblTap_period  &kp DOWN_ARROW       &kp RIGHT_ARROW
                                         &none            &none                   &to 2   &kp SPACE       &layer_toggle 1  &to 3   &none          &none
            >;
        };

        layer_1 {
            display-name = "Nav";
            bindings = <
&none  &dblTap_             &none             &none                   &none                   &none                                &msc SCRL_LEFT  &msc SCRL_UP    &msc SCRL_RIGHT  &dblTap_pgup   &dblTap_pgdn             &LongPress_gen DELETE LC(DELETE)
&none  &kp N7               &kp N8            &kp N9                  &kp N0                  &mkp LCLK                            &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &kp MINUS      &kp EQUAL                &LongPress_gen BACKSPACE LC(BACKSPACE)
&none  &hml LCTRL NUMBER_4  &hml LEFT_WIN N5  &hml LEFT_ALT NUMBER_6  &hml_shft LEFT_SHIFT F  &none                                &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp SEMICOLON  &hmr RCTRL SINGLE_QUOTE  &kp RET
&none  &kp NUMBER_1         &kp NUMBER_2      &kp NUMBER_3            &none                   &none      &dblTap_toL0    &kp RBKT  &none           &msc SCRL_DOWN  &kp COMMA        &kp PERIOD     &kp SLASH                &kp RIGHT_ARROW
                                              &none                   &none                   &mo 2      &kp SPACE       &to 0     &none           &none           &none
            >;
        };

        L2 {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Bluetooth";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2          &bt BT_SEL 3           &bt BT_SEL 4                    &trans     &trans     &trans           &trans    &trans    &trans
&none       &kp AMPERSAND    &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp F6                          &kp F7     &kp F8     &kp F9           &kp F10   &kp F11   &kp F12
&kp GRAVE   &kp DOLLAR       &kp PERCENT   &kp HASH              &none                  &none                           &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp TILDE
&trans      &kp EXCLAMATION  &kp AT_SIGN   &kp HASH              &trans                 &trans        &trans    &trans  &trans     &kp MINUS  &kp KP_PLUS      &kp LBRC  &kp RBRC  &kp PIPE
                                           &trans                &trans                 &trans        &trans    &trans  &trans     &trans     &trans
            >;
        };

        L3 {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Blue";
            bindings = <
&trans     &trans  &trans  &trans   &trans   &trans                     &trans       &trans     &trans     &trans    &trans     &trans
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                     &kp N6       &kp N7     &kp N8     &kp N9    &kp N0     &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &trans       &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                           &trans   &trans   &trans   &trans    &trans  &trans       &trans     &trans
            >;
        };
    };
};
